body {
    font-family: Open Sans;
    margin:0;
    padding:0;
    overflow-x: hidden;
  }
  
  .navbar {
    overflow: hidden;
    background-color:#7d0a0a;
    /* display: flex; */
  }
  .navbar p {
    display: inline-flex;
    font-size: 20px;
    margin-left: 1vw;
    color: white;
    text-align: center;
    margin-top: 3vh;
    /* padding: 2vh 5vh; */
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .menu-icon {
    width: 3vw;
    height: 1vh;
    background-color: white;
    margin: 1vh 0;
}
  .dropdown .dropbtn {
    border: none;
    outline: none;
    color: white;
    padding: 2vh 5vh;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .icon img {
    width: 2vw; 
    height: auto;
    margin-top: 1vh;
    margin-bottom: -1vh;
    margin-right: 1vw;
    display: inline-block;
} 
.icon2 img {
  width: 2vw; 
  height: auto;
  margin-top: -1vh;
  margin-bottom: -1.7vh;
  margin-right: 1vw;
  display: inline-block;
} 

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 9vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    align-items: center;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 2vh 7.1vh;
    text-decoration: none;
    display: block;
    align-items: center;
    text-align: left;
    margin-left: -1vw;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
.school-name {
    color: white;
    padding: 2vh 1vw;
    font-size: 20px;
    margin-left: 1vw;
  }

  .dropdown2 {
    float: right;
    overflow: hidden;
  }
  .dropdown2 .dropbtn2 {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 2vh 5vh;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    display: flex;
    
    
  }
  .name-icon img {
    width: 2vw; 
    height: auto;
    margin-right: 1vw;
    margin-top: 1vh;
}
  .name {
    width: 3vw;
    height: 1vh;
    margin: 1vh 0;
    margin-right: 2.2vw;
    font-size: 20px;
  }
  .dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 9vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    margin-top:1vh;
  }
  
  .dropdown-content2 a {
    float: none;
    color: black;
    padding: 2vh 7.1vh;
    text-decoration: none;
    display: block;
    text-align: right;
    margin-right:-1vw;
  }
  
  .dropdown-content2 a:hover {
    background-color: #ddd;
  }
  
  .dropdown2:hover .dropdown-content2 {
    display: block;
  }

  /* ----------------------appoinment content------------------ */
  
.appoinment-container {
  background-color: white;
  border-radius: 6.2402vh;
  width: 60vw;
  height: 85vh;
  box-shadow: 0px 8px 16px 0px rgba(0.3,0.3,0.3,0.3);
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;

}
.appoinment-container button {
  margin-top: 40vh; 
  color: white;
  background-color: #7d0a0a;
  padding: 1vh;
  width: 15vw;
  border-radius: 10vw;
}

.appointment-dropdown-Info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3vh;
}
.appointment-dropdown-Info input,
.appointment-dropdown-Info select {
  /* margin: 1vh; */
  width: 15vw;
  height:5vh;
  text-align: center; 
  border-radius: 10vw;
  border:0;
  background-color: rgba(215, 199, 199, 0.7);
  
}
.appointment-dropdown-Info input,
.appointment-dropdown-Info select,
.appointment-dropdown-Info button {
  margin: 1vh;
  /* width: 10vw;  */
  
}
#appointment-Number {
  margin-top: 4vh;
  font-size: 2vh;
  font-weight: bold;
  /* margin-bottom: 4vh; */
}
/* ------------PROMPT MESS---------- */
.container {
  width: 30vw;
  height: 55vh;
  background-color:rgba(215, 199, 199);
  border-radius: 10px;
  position: fixed;
  top: 0;
  margin-top: 25vh;
  margin-left: 50%;
  transform: translate(-50%, 0);
  box-shadow: 2px 2px 5px #000;
  display: none;


}

.prompt-Mess {
  margin-top: -4vh;
  height: 6vh;
  font-size: 4vh;
  font-weight: bolder;
  text-align: center;

}

h1 {
  margin-top: 5vh;
  font-size: 2vh;
  text-align: center;
  color:black;
}

p {
  margin: -1vh;
  color: #7d0a0a;
}
.container #qrcode2 {
  margin-top: 4vh;
  margin-left:10vw ;
  margin-right:10vw ;
}
.container #container-date {
  margin-top: 4vh;

}