
/* ALL CSS */
:root {
    --darkred: #7d0a0a;
    --red: #bf3131;
}

* {
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    font-family: Open Sans;
    padding: 0;
    overflow-x: hidden;
}

nav ul{
    z-index: 5;
    width: 100vw;
    position: fixed;
    list-style-type: none;
    margin: 0;
    top: 0;
    padding: 0;
    background-color: #7d0a0a;
    text-align: center;
}

nav li{
    display: inline-block;
}

nav a{
    text-decoration: none;
    color: white;
    width: 7vw;
    display: block;
    padding: 4vh 7vw;
    font-weight: bold;
    text-align: center;
}

nav a:hover {
    background-color: #bf3131;
}

.footer{
    color: white;
    position: relative;
    width: 100vw;
    height: 21vh;
    background-color: #7d0a0a;
}

#stanford-footer{
    margin-left: 3.5vw;
    font-weight: bold;
    width: 25vw;
    font-size: 4vh;
}

#title-footer{
    font-weight: bold;
    margin-top: 5vh;
}

.column1 {
    width: 40%;
    height: 100%;
    float: left;
    font-size: 1.5vh;
}

.column{
    margin-top: 4vh;
    border-top: 3px solid white ;
    width: 20%;
    height: 10vh;
    float: left;
    font-size: 1.5vh;
}

.column3{
    margin-top: 4vh;
    border-top: 3px solid white ;
    width: 10.5%;
    height: 10vh;
    float: left;
    font-size: 1.5vh;
}

/* ALL CSS */



/* COURSE CSS */

.main-container {
    position: static;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

#course-title, #course-details {
    transition: width 1s;
    margin-left: 19vw;
    font-size: 5vh;
    margin-top: 19vw;
    color: red;
    z-index: 1;
    position: absolute;
}

#course-details {
    color: white;
    z-index: 1;
    font-size: 17px;
    margin-top: 23.5vw;
    margin-left: 19vw;
    position: absolute;
}

#course-offered {
    color: white;
    font-weight: bold;
    z-index: 1;
    margin-top: 28.5vw;
    margin-left: 19vw;
    position: absolute;
}

#enroll-now-btn {
    z-index: 1;
    background-color: #7d0a0a;
    position: absolute;
    margin-top: 22vh;
    padding-block: 1vh;
    padding-inline: 4vw;
    border-radius: 1633vh;
    font-weight: bold;
    font-size: 2.4vh;
    color: white;
    background-color: rgb(235, 32, 32);
    border: 0.49vh solid #a518184d;
    overflow: hidden;
    box-shadow: 0px 1.6vh 3.26vh rgba(0, 0, 0, 0).2;
}

#enroll-link {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

#enroll-now-btn:hover {
    cursor: pointer;
    background-color: #bf3131;
}

#enroll-now-btn:hover {
    cursor: pointer;
    transform: scale(1.05);
    border-color: #fff9;
}

#enroll-now-btn:hover::before {
    animation: shine 1.5s ease-out infinite;
}

#enroll-now-btn::before {
    content: "";
    width: 16.3vh;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0)30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%);
    top: 0;
    left: -16.3vh;
    opacity: 0.6;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: fixed;
    top: 40%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 6vh;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.5);
}


/* End of Courses CSS */


/* Enroll CSS */

.main-bg-container {
    width: 100%;
    height: 110vh;
    background-image: url(media/enrollbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: changeBG;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes changeBG {
    0% {background-image: url(media/enrollbg.png);}
    50%{background-image: url(media/enrollbg2.png);}
}

.confirm-details-box {
    position: fixed;
    box-shadow: 1px 1px 5px black;
    z-index: 3;
    width: 32vw;
    height: 70vh;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 10px;
    margin-top: 20vh;
    background-color: aliceblue;
    background-color: rgba(255, 255, 255);
    display: none;
}

.confirm-modal-content {
    text-align: center;
}
.row-table {
    text-align: left;
    color: black;
    font-size: 1.7vh;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    width: 28vw;
}


#enroll-submit {
    color: #7d0a0a;
    margin-top: 3vh;
}

#modal-details {
    font-size: 12px;
    font-weight: bold;
}

#submit-to-database {
    border: 0;
    background-color: #7D0A0A;
    color: white;
    font-weight: 2vh;
    padding: 1vh;
    width: 23.5vw;
    border-radius: 5px;
}

#submit-to-database:hover {
    background-color: #bf3131;
    cursor: pointer;
}

#button-close-modal {
    border-radius: 50%;
    padding: 1vh 0.7vw;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    right: 0;
    border: 0;
    font-weight: bold;
    color: #7d0a0a;
    font-size: 3vh;
}

#button-close-modal:hover {
    cursor: pointer;
    color: #bf3131;
}

.table-confirm-details{
    margin-top: 5vh;
    width: 36vw;
    height: 40vh;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.row1{
    display: inline-block;
    width: 50vw;
    height: 90vh;
}

#logo-enroll {
    width: 10vw;
    height: 20vh;
    display: block;
    margin-top: 15vh;
    margin-left: 3.8vw;
}

#enroll-text-header {
    position: absolute;
    margin-left: 10.2vh;
    color: red;
    font-size: 4.5vh;
    z-index: 0;
}

#enroll-slogan {
    position: absolute;
    margin-top: 17vh;
    margin-left: 5vw;
    color: white;
    font-size: 3vh; 
}

#step-1 {
    position: absolute;
    margin-top: 24vh;
    margin-left: 5vw;
    padding-block: 1vh;
    padding-inline: 4vw;
    border-radius: 1633vh;
    font-weight: bolder;
    font-size: 2.4vh;
    color: white;
    background-color: rgb(235, 32, 32);
    border: 0.49vh solid #a518184d;
    overflow: hidden;
    box-shadow: 0px 1.6vh 3.26vh rgba(0, 0, 0, 0).2;
}

#step-1:hover {
    cursor: pointer;
    transform: scale(1.05);
    border-color: #fff9;
}

#step-1:hover::before {
    animation: shine 1.5s ease-out infinite;
}

#step-1::before {
    content: "";
    width: 16.3vh;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0)30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%);
    top: 0;
    left: -16.3vh;
    opacity: 0.6;
}

@keyframes shine {
    0% {
        left: -16.3vh;
    }
    60% {
        left: 100%;
    }
    to {
        left: 100%;
    }
}


.row2{
    display: inline-block;
    transform: translateY(-110%);
    transition: 0.7s ease-in-out;
    width: 40vw;
    margin-left: 8vw;
    margin-top: 12vh;
    height: 90vh;
    z-index: 0;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}


.form-enroll {
    width: 60vh;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    color: #7d0a0a;
}

#enroll-title {
    position: absolute;
    width: 27.5vw;
    height: 10vh;
    border-bottom: 5px solid #7d0a0a;
}

#enroll-details {
    font-weight: bold;
    position: absolute;
    width: 27.5vw;
    display: block;
    height: 8vh;
    font-size: 1.7vh;
    margin-top: 10.5vh;
}

#table-form {
    font-weight: bold;
    margin-top: 23vh;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}

.select-course {
    margin-left: 1.15vw;
    width: 16.65vw;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 1vh 1vh;
}

#submit-button-enroll {
    width: 26.7vw;
    border-radius: 5px;
    border: 0px;
    background-color: #7d0a0a;
    color: white;
    font-weight: bold;
    font-size: 2vh;
    padding: 1vh 1vh;
}

#submit-button-enroll:hover{
    cursor: pointer;
    background-color:  #bf3131;
}

input[type=text], input[type=date] {
    margin-left: 1.15vw;
    width: 15.5vw;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 1vh 1vh;
}

#close-button-enroll {
    border-radius: 50%;
    padding: 1vh 0.7vw;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 4vh;
    border: 0;
    font-weight: bold;
    color: #7d0a0a;
    font-size: 3vh;
}

#close-button-enroll:hover {
    color: #bf3131;
    cursor: pointer;
}



/* End of Enroll CSS */



/* Profile */

#footer-for-profile {
    margin-top: 0;
    bottom: 0;
}

.main-profile-container {
    width: 100vw;
    height: 150vh;
}

.picture-container {
    width: 100vw;
    height: 40vh;
}

#corgi {
    margin-top: 20vh;
    width: 17vw;
    height: 17vw;
    margin-left: 10vw;
    border-radius: 5vh;
}

.profile-container {
    width: 80vw;
    border-top-right-radius: 5vh;
    border-top-left-radius: 5vh;
    height: 85vh;
    margin-left: 10vw;
    margin-top: 20vh;
    background-color: #bebebe;
    border-bottom-left-radius: 5vh;
    border-bottom-right-radius: 5vh;
}

.profile-name {
    background-color: #7d0a0a;
    border-top-right-radius: 5vh;
    border-top-left-radius: 5vh;
    height: 25vh;
    color: white;
}

#name-profile {
    padding-top: 5vh;
    margin-left: 2vw;
    font-size: 5.5vh;
    font-weight: bolder;
}

#profile-idnum {
    margin-top: -5vh;
    font-weight: bolder;
    font-size: 4vh;
    margin-left: 2vw;
}

#profile-course {
    font-size: 2.5vh;
    margin-top: -4vh;
    margin-left: 2vw;
}


/* End of Profile CSS */

/* Glydel's CSS */

html {
    height: 100vh;
    background-color:rgb(235, 32, 32);
    font-family: Open Sans;
}
/*-------------------- HOME STYLE --------------- */
#imgSchool {
    height: 100vh;
    background-position: center;
    margin: 0;
    padding: 0; 
    margin-top: -15.601vh;
    background-repeat:no-repeat;
    background-image: url(media/school.png);
    animation-name: bgHomeAnimate;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}

@keyframes bgHomeAnimate {
    10% {
        background-image: url(media/school.png);
    }
    40% {
        background-image: url(media/school2.png);
    }
    70% {
        background-image: url(media/school3.png);
    }
}

.section {
    width: 80%;
    margin: auto;
    overflow: hidden;
} 
.section h1{
    font-size: 4vh;
    color:white;
    font-weight: bold;
    margin-top:50vh;
    font-family: Open Sans;
}
.section h2 {
    font-weight: bold;
    font-size: 7vh;
    font-family: Open Sans;
    font-weight:bold;
    color:rgb(235, 32, 32);
    margin-top:-4vh;
}
.section p{
    font-weight: bold;
    font-size: 2vh;
    margin-top:-6.6vh;
    font-weight:lighter;
    font-family: Open Sans;
    color:white;
    text-align:left;
}
.button {
    background-color:rgb(235, 32, 32);
    color: white;
    text-decoration: none;
    display: inline-block;
    /* margin-top: -1.6vh; */
    margin-left: 21vh;
    border-radius: 500vh;
    position: relative;
    box-shadow: 0px 1.6vh 3.26vh rgba(0, 0, 0, 0.2);
    padding-block: 1vh;
    padding-inline: 4vW;
    border: 0.49vh solid #a518184d;
    overflow: hidden;
    font-size: 2.4vh;
}
/* button effect */
.button:hover {
    transform: scale(1.05);
    border-color: #fff9;
  }
  
  .button:hover .icon {
    transform: translate(3vh);
  }
  
  .button:hover::before {
    animation: shine 1.5s ease-out infinite;
  }

  .button::before {
    content: "";
    position: absolute;
    width: 16.3vh;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -16.3vh;
    opacity: 0.6;
  }
  
  @keyframes shine {
    0% {
      left: -16.3vh;
    }
      60% {
      left: 100%;
    }  
    to {
      left: 100%;
    }
  }
  
  .icon {
    width:  3.92vh;
    height:  3.92vh;
    transition: all 0.3s ease-in-out;
  }
  /* end of button effectsssssssssssss */

  /* Title */
.adAstra { 
    margin-top:30vh;
    text-align: center;
    font-family:Open Sans;
    color: white;
}

.content  {
    display: flex;
    justify-content: space-around;
}
.content p {
    text-align:justify;
    width: 30%; 
    font-size: 2.614vh;
    font-family: Open Sans;
    line-height: normal;
    color: white;
    margin-bottom: -20vh;
}
.left {
    text-align: left;
    margin-left: 10vw;
    margin-right: 1vw;

}
.center {
    text-align: center;
    margin-left: 1vw;
    margin-right: 1vw;
}
.right {
    margin-left: 1vw;
    margin-right: 10vw;
}

.offerContent {
    background-color: white;
    display: inline-block;
    text-align: justify;
    font-family:Open Sans;
    height: 57.8003vh;
    margin-top:31.2012vh;
}

/*image sa offer */
.content2 { 
    height: 70%;
    margin-left: 13vw;
    margin-top:9vh;
}

/*title*/
#offer { 
    text-align: center;
    font-size:4.084vh;
    color:black;
    padding: 3.267vh;
    margin-left: 6vw;
    margin-top: -45vh;
}
#offerInfo{
    padding: 3.267vh 31.2012vh;
    font-size:  2.614vh;
    margin-left:auto;
    width: 42%;
    margin-top: -6.53vh;
}

/*-----------------------------LOG-IN PAGE STYLE------------------------*/
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header{
    display: flex;
    background: url(media/logInImg.png);
    min-height: 97.8003vh;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
}

#logo2 {
    width: 24.50vh;
    height:24.50vh;
    display:block;
    margin-top: 17.6vh;
    margin-left:10.486vw;
}
.logo-right {
    justify-content: flex-start; 
    display: flex;
  }

.log-inCont{
    justify-content: flex-end; 
    display: flex;
    margin-top: -108vh;
    animation: moveLeft 1s ease;
}

.log-in{
    margin-top: 21.8409vh;
    width: 78.0031vh;
    height: 68.6427vh;
    background-color: #FFF8;
    text-align: center;
    margin-right: 7.8003vh;
    border-radius: 6.2402vh;
    margin-bottom: 5vh;
}

#log-inLabel {
    font-size: 4.6802vh;
    font-weight: bold;
    height: 4.6802vh;
    color:rgb(235, 32, 32);
    background-color: rgba(255, 255, 255, 0.5);
    padding:3.267vh;
    opacity:1.5;
    border-top-right-radius: 6.2402vh;
    border-top-left-radius: 6.2402vh;
}

#log-inLabel p {
    margin-top:-0.7800vh;
}
/* id and pass */
.in{ 
    height: 1.63vh;
    margin-top: 9.803vh;
}

input[type=id], input[type=password]{
    width: 62.4025vh;
    height: 1.63vh;
    padding: 2.450vh;
    font-size: 2.450vh;
    border-radius: 0.6240vh;
    border: 0.0156vh solid grey;
    text-align: center;    
}
.orText {
    font-size:4.6802vh;
    font-weight: bold;
    margin-top: -4.084vh;
}
.createAcct {
    font-size:4.6802vh;
    font-weight: bold;
    text-decoration: none;
    color:rgb(65, 61, 61); 
}

.createAcct p{
    margin-top: -5vh;
}

.sign-inButton {
    background-color:rgb(235, 32, 32);
    color: white;
    border: none;
    padding: 1.63vh 7.8003vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2.614vh;
    margin-top: 10.9204vh;
    font-weight: bold;
    border-radius: 1.63vh;   
}

#sign-in-link {
    color: white;
    text-decoration: none;
}

/*-------------------------------SIGN-IN PAGE STYLE---------------------- */
#logo3 {
    width: 24.50vh;
    height:24.50vh;
    display:block;
    /* margin-top: -125vh;  */
    margin-top: -80vh; 
    margin-right: 10vw;
}
.logo-left {
    justify-content: flex-end; 
    display: flex;
    margin-top: .5vh;
}
.sign-inCont { 
    justify-content: flex-start; 
    position: flex;
    margin-top: -108vh;
    animation: moveRight 1s ease;
}

.sign-in{
    margin-top: 21.8409vh;
    width: 78.0031vh;
    height: 68.6427vh;
    background-color: #FFF8;
    text-align: center;
    margin-left: 5vw;
    border-radius: 6.2402vh;
    margin-bottom: 5vh;
}
#sign-inLabel {
    font-size: 4.6802vh;
    font-weight: bold;
    height: 4.6802vh;
    color:white;
    background-color: rgb(235, 32, 32);
    padding:3.267vh;
    opacity:1.5;
    border-top-right-radius: 6.2402vh;
    border-top-left-radius: 6.2402vh;
}
#sign-inLabel p {
    margin-top:-0.7800vh;
}

/* id and pass */
.inn{ 
    height: 1.63vh;
    margin-top: 9.803vh;
}

input[type=idd], input[type=passwordd]{
    width: 62.4025vh;
    height: 1.63vh;
    padding: 2.450vh;
    font-size: 2.450vh;
    border-radius: 0.6240vh;
    border: 0.0156vh solid grey;
    text-align: center;    
}
.orTextt {
    font-size:4.6802vh;
    font-weight: bold;
    margin-top: -4.084vh;
}
.logInbutton {
    font-size:4.6802vh;
    font-weight: bold;
    text-decoration: none;
    color:rgb(65, 61, 61); 
}
.logInbutton p{
    margin-top: -5vh;
}
.sign-upButtonn {
    background-color:rgb(235, 32, 32);
    color: white;
    border: none;
    padding: 1.63vh 7.8003vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2.614vh;
    margin-top: 10.9204vh;
    font-weight: bold;
    border-radius: 1.63vh;
    
}
@keyframes moveLeft {
    from {
        margin-right: 100vw;
        /* left: 0; */
    }
    to {
        margin-left: 0;
    }
}

@keyframes moveRight {
    from {
        margin-left: 100vw;
        /* margin-left: 0; */
    }
    to {
        margin-right: 0;
    }
}

/* -------------------------------ABOUT------------------------ */

.header-video{
    display: flex;
    height: 110vh;
    width: 98.8vw;
    object-fit: cover;
    background-repeat:no-repeat;
    background-position: center;
    margin-top: -15.601vh;

}
.color{
        height: 100%;
        background-color: white;
}
#logo4 {
    height:24.50vh;
    display:block;
    margin-top: -70vh; 
    margin-left: 10vw;
}
.sectionn {
    width: 80%;
    margin: auto;
    overflow: hidden;
    margin-top:-7vh;
}

.sectionn h1{
    font-size: 6vh;
    color:rgb(235, 32, 32);
    font-weight: bold;
    font-family: Open Sans;
    text-align:left;
}
.sectionn h2 {
    font-weight: bold;
    font-size: 4.6802vh;
    font-family: Open Sans;
    font-weight:bold;
    color:white;
    margin-top:-5vh;
}
.sectionn h3{
    font-weight: bold;
    font-size:2.450vh;
    margin-top:-4vh;
    font-family: Open Sans;
    color:white;
    text-align:left;
}

.about {
    margin-top:15%;
    text-align: justify;
    margin-left:15vw;
    margin-right:15vw;
}
.about h1 {
    text-align: center;
    color:rgb(235, 32, 32);
    font-weight: bold;
    font-family: Open Sans;
}
.about p {
    font-size: 3.267vh;
    font-family: Open Sans;
}

.contentt  {
    display: flex;
    justify-content: space-around;
    margin-top: 10vh;
}

.visCon, .missCon, .coreCon {
    background-color: rgba(188, 179, 179, 0.533);
    border-radius: 6.2402vh;
    width: 50vh;
    height: 60vh;
    text-align: center; 
    margin-top: 5vh; 
}

.visCon {
    margin-left: 30vh; 
    margin-right: 4vh; 

}
.coreCon {
    margin-right: 30vh; 
    margin-left: 4vh; 

}
#visLabel p, #missLabel p, #coreLabel p {
    font-size: 4.6802vh;
    margin-bottom: 1vh;
    font-weight: bold;
    margin-top: -1vh;
    width: -31.2012vh;
    color:white;
    background-color: #7D0A0A;
    padding:1vw;
    opacity:1.5;
    border-top-right-radius: 6.2402vh;
    border-top-left-radius: 6.2402vh; 
}

#visInfo p, #missInfo p, #coreInfo p {
    margin-top: 5vh;
    text-align: justify;
    width: 40vh;
    font-size: 2vh;
    margin-left: auto;
    margin-right: auto;
}
.hisCon {
    background-color: rgba(215, 199, 199, 0.7);
    border-radius: 6.2402vh;
    width: 98vh;
    height: 60vh;
    text-align: center; 
    margin-top: -71vh; 
    justify-content:center; 
    margin-left: 38vw;
    margin-bottom: 10vh;

}
#hisLabel p {
    font-size: 4.6802vh;
    margin-bottom: 1vh;
    font-weight: bold;
    margin-top: -1vh;
    width: -31.2012vh;
    color:white;
    background-color: #7D0A0A;
    padding:1vw;
    opacity:1.5;
    border-top-right-radius: 6.2402vh;
    border-top-left-radius: 6.2402vh; 
}

#hisInfo p{  
    margin-top: 5vh;
    text-align: justify;
    width: 45vw;
    margin-left: 1vw;

}

#owner {
    width:46.8019vh; 
    height:62.4025vh;
    border-radius: 6.2402vh;
    margin-left:14vw;
    margin-top: 5vh;
    margin-bottom: 10vh;
}
#owner,
.hisCon {
  border-radius: 6.2402vh;
}

/*-------------- transition ABOUT PAGE   ------------ */
.contentt .visCon,
.contentt .missCon,
.contentt .coreCon {
    cursor: pointer;
    transition: transform 400ms, filter 400ms;
}
.contentt .visCon:hover,
.contentt .missCon:hover,
.contentt .coreCon:hover {
    transform: scale(1.1, 1.1);
}

.contentt:hover > .visCon:not(:hover),
.contentt:hover > .missCon:not(:hover),
.contentt:hover > .coreCon:not(:hover) {
    filter: blur(0.7800vh);
    transform: scale(0.9, 0.9);
}

/* Style PHP */