body{
    margin: 0;
    font-family: Open Sans;
    padding: 0;
    overflow-x: hidden;
}

.main-container {
    width: 100vw;
    height: 100vh;
    background-image: url(media/bglogin.png);
    animation-name: changeBG;
    background-repeat: no-repeat;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}
@keyframes changeBG {
    0% {background-image: url(media/bglogin.png);}
    33% {background-image: url(media/school3.png);}
    66% {background-image: url(media/stan.png);}
}

.login-container {
    width: 30vw;
    border-radius: 15px;
    height: 50vh;
    box-shadow: 1px 1px 5px black;
    position: fixed;
    margin-left: 50%;
    transform: translate(-50%, 0);
    margin-top: 20vh;
    background-color: rgba(255, 255, 255, 0.7);
}

.header {
    width: 30vw;
    height: 10vh;
    background-color: #7d0a0a;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: white;
    text-align: center;
}

.title {
    font-size: 3.8vh;
    padding: 2.1vh;
    font-weight: bolder;
}

.row {
    width: 26vw;
    height: 6.5vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.first {
    margin-top: 10vh;
}

input[type=text], input[type=password] {
    text-align: center;
    padding: 1.5vh 5vw;
    border: 1px solid grey;
    border-radius: 3px;
}

input[type=submit] {
    text-align: center;
    padding: 1.5vh 9vw;
    border: 0;
    border-radius: 4px;
    background-color: #7d0a0a;
    color: white;
    font-size: 2vh;
    font-weight: bolder;
}

input[type=submit]:hover {
    background-color: #bf3131;
    cursor: pointer;
}